// colors
$white: #fff;
$blue: #64C7FF;
// main font
$fontFamily: 'Montserrat', sans-serif;
// sizes
$width: 500;
$minWidth: 320px;
$maxWidth: 1920;
$md1: $width + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;